:root {
  /* COLORS */
  --color-primary-blue: #0079ff;
  --color-pure-white: #fefefe;

  /* LIGHT MODE */
  --color-slate-grey-light: #697c9a;
  --color-steel-blue-light: #4b6a9b;
  --color-charcoal-blue-light: #2b3442;
  --color-soft-white-light: #f6f8ff;

  /* DARK MODE */
  --color-dark-navy-dark: #1e2a47;
  --color-slate-black-dark: #141d2f;
}

.slate-grey {
  color: var(--color-slate-grey-light);
}
