@use '../abstracts/variables';

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  height: 100vh;
  padding: 0 5rem;
  max-width: 108rem;
}

@media (max-width: variables.$bp-tablet) {
  .container {
    padding: 0 3rem;
    place-content: start center;
  }
}

@media (max-width: variables.$bp-mobile) {
  .container {
    padding: 0 1rem;
  }
}

a,
a:visited {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
