@use '../abstracts/variables';

.main {
  border-radius: 1.5rem;
  padding: 4rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  opacity: 0;
  // transform: translateY(-100%);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index: -1;

  &--visible {
    visibility: visible;
    opacity: 1;
    // transform: translateY(0%);
  }

  &__image {
    grid-column: 1 / 2;
    grid-row: 1 / span 4;
    justify-self: start;
    align-self: start;
    width: 80%;
    border-radius: 50%;
  }

  &__info,
  &__bio,
  &__stats,
  &__socials {
    grid-column: 2 / -1;
  }

  &__info {
    display: grid;
    grid-template-columns: subgrid;
    &-username,
    &-user-handle {
      grid-column: 1 / 3;
    }
    &-joined {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      justify-self: end;
    }
  }

  &__stats {
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  &__socials {
    padding: 2rem 0;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 2rem;
    row-gap: 1.6rem;
    justify-content: space-between;

    * {
      display: flex;
      flex-direction: row;
      column-gap: 1.6rem;
      align-items: center;
    }
  }
}

@media (max-width: variables.$bp-tablet) {
  .main {
    padding: 2.5rem;
    &__image {
      grid-row: 1 / 2;

      width: 75%;
    }

    &__info {
      grid-column: 2 / -1;
      display: flex;
      flex-direction: column;
    }

    &__bio,
    &__stats,
    &__socials {
      grid-column: 1 / -1;
    }

    &__socials {
      justify-content: space-between;
    }
  }
}

@media (max-width: variables.$bp-tablet) {
  .main {
    &__socials {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
